{% if terms_field %}
<p class="consent">
<label for="{{ terms_field.id_for_label }}">Akceptuję <a href="{% url 'legal:terms' %}" target="_blank" rel="noopener">Regulamin</a>{% if with_dpa %} wraz z <a href="{% url 'legal:dpa' %}" target="_blank" rel="noopener">umową powierzenia przetwarzania danych</a>{% endif %}{% if not privacy_field %} i <a href="{% url 'legal:privacy' %}" target="_blank" rel="noopener">Politykę prywatności</a>{% endif %}</label>
{{ terms_field }}
{{ terms_field.errors }}
</p>
{% endif %}
{% if privacy_field %}
<p class="consent">
<label for="{{ privacy_field.id_for_label }}">Zapoznałem się z <a href="{% url 'legal:privacy' %}" target="_blank" rel="noopener">Polityką prywatności</a></label>
{{ privacy_field }}
{{ privacy_field.errors }}
</p>
{% endif %}
