{% extends "base/auth_base.html" %}

{% block page_name %}Zaloguj się{% endblock %}

{% block auth_form %}
<h2>Zaloguj się</h2>
<form method="post" novalidate data-ajax-form>
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn btn-primary btn-lg btn-block">Zaloguj się</button>
</form>
<div class="auth-links">
<p><a href="{% url 'accounts:password-reset-request' %}">Nie pamiętasz hasła?</a></p>
<p>Wysyłasz prośby bez konta? <a href="{% url 'accounts:guest-link-request' %}">Wyślij mi link do panelu</a></p>
<p>Nie masz konta? <a href="{% url 'accounts:register' %}">Zarejestruj się</a></p>
</div>
{% endblock %}
